.emptySpace {
    width: 900px;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    transform: translate(20%,60%);
    border-top: beige solid 10px;
}

.emptySpace h2{
    padding-top: 20px;
    font-size: 45px;
    font-family: 'Anton', sans-serif;
}

.skillsSec{
    background-color: #fffaf1;
    width: 840px;
    height: 980px;
    transform: translate(20%,-4%);
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
    padding: 30px;
}
.secOne{
   background-color: white;
   width:200px;
   padding: 3px;
   margin:10px;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.languagesType{
display: flex;
flex-direction: row;
}
.applicationType{
    display: flex;
    flex-direction: row;
}
.toolType{
    display: flex;
    flex-direction: row;
}
.html {
    width: 90%;
  }
  .css {
    width: 83%;
  }
  .javascript{
    width: 60%;
  }
  .nosql{
    width: 35%;
  }
  
  
  .github{
    width: 95%;
  }
  .mongodb{
    width: 51%;
  }
  .mysql{
    width: 55%;
  }
  .vscode{
    width: 99%;
  }
  .robo3t{
    width: 33%;
  }
  .insomnia{
    width: 75%;
  }
  
  
  .express{
    width: 51%;
  }
  .react{
    width: 68%;
  }
  .node{
    width: 58%;
  }
  .handlebars{
    width: 65%;
  }
  .jquery{
    width: 50%;
  }
  .bootstrap{
    width: 90%;
  }
  .api{
    width: 60%;
  }