.aboutSection{
  padding-top: 200px;
}
.emptyBox{
    width:230px;
    height:230px;
    background-color:beige ;
    transform:translate(190%,-20%);
    box-shadow: 10px 10px 5px rgb(196, 192, 192);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.emptyBox h4{
    transform:translate(4%,598%);
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    color:#dddddd;  
}
.emptyBox p{
    transform:translate(4%,1550%); 
    font-size: 8px;
    font-family: 'Oswald', sans-serif;
    color:#dddddd;
}
.aboutMe {
    background-color: #f0f0f0;
    width:400px;
    transform:translate(100%,-45%); 
    padding:10px;
    box-shadow: 10px 8px 7px rgb(167, 165, 165) ;
    margin-bottom: 100px;
}
.aboutMe a{
    text-decoration: none;
    
}
.boutSection{
    width: 100%;
    height: 1200px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 90px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.aboutSec{
    width: 100%;
    height: 1400px;
background-image: url(https://images.unsplash.com/photo-1571293605156-7901b0f38d7b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
background-repeat: no-repeat;
background-position-x: center;
background-size: 1040px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:50px;
    padding-left: 150px;
    margin-bottom: 90px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}



.secOne{
    background-color: #fffaf1;
    width:130px;
    height:65px;
    padding: 10px;
    margin:9px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 }
.languagesType{
    display: flex;
    flex-direction: row;
    }
    .applicationType{
        display: flex;
        flex-direction: row;
    }
    .toolType{
        display: flex;
        flex-direction: row;
    }
    .html {
        width: 90%;
      }
      .css {
        width: 83%;
      }
      .javascript{
        width: 60%;
      }
      .nosql{
        width: 35%;
      }
      .spanish{
        width:100%
      }
      
      
      .github{
        width: 95%;
      }
      .mongodb{
        width: 51%;
      }
      .mysql{
        width: 55%;
      }
      .vscode{
        width: 99%;
      }
      .robo3t{
        width: 33%;
      }
      .insomnia{
        width: 75%;
      }
      
      
      .express{
        width: 51%;
      }
      .react{
        width: 68%;
      }
      .node{
        width: 58%;
      }
      .handlebars{
        width: 65%;
      }
      .jquery{
        width: 50%;
      }
      .bootstrap{
        width: 90%;
      }
      .api{
        width: 60%;
      }
      .container {
        background-color: rgb(192, 192, 192);
        width: 70%;
        border-radius: 15px;
        
      }
      .skill {
        background-color:#629ac9;
        color: rgb(255, 255, 255);
        padding: 1%;
        text-align: right;
        font-size: 10px;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
      }
      .secOne p{
        font-size: 13px;
      }
  
.aboutSec h1{
 
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 55px;
  
}