

/* css for the skills section of the about me page */
.secOne{
    background-color: #fffaf1;
    width:150px;
    height:40px;
    padding: 8px;
    margin:6px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 }
 .secOne p{
  font-size: 11px;
  margin-top: 4px;
  margin-left: 25px;
}    
.container {
  background-color: rgb(192, 192, 192);
  width: 70%;
  border-radius: 15px;
}

 /* this is the css for the side bar contacts */
 .sideContacts{
  position:fixed;
  display: flex;
  flex-direction: column;
  top: 260px;
  left: 0;
  z-index: 100;
}

/* css for the folder design */
.tab,#tab6, #tab5, #tab4, #tab3, #tab2, #tab1, #tab0 {
  height: 100%;
  position: absolute;
  box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.9s ease;
}
.tab:hover ~ div, #tab6:hover ~ div, #tab5:hover ~ div, #tab4:hover ~ div, #tab3:hover ~ div, #tab2:hover ~ div, #tab1:hover ~ div, #tab0:hover ~ div {
  transform: translateX(-80vw);
}
#tab0 {
  width: 530px;
  height:900px;
  background: black;
  transform: rotate(-90deg);
}
#tab1 {
  width: 500px;
  height:940px;
  background: #f9e5bc;
  transform: rotate(-90deg);
}
#tab1::after {
  content: "";
  position: absolute;
  width: 5vw;
  height: 22vh;
  background: #f9e5bc;
  border-radius: 0 15px 15px 0;
  top: 77%;
  right: -4vw;
  border-right:1px solid black;
  border-left:1px solid black;
  border-bottom:1px solid black;
}
#tab2 {
  width: 500px;
  height:940px;
  background: #f9e5bc;
  transform: rotate(-90deg);
}
#tab2::after {
  content: "";
  position: absolute;
  width: 5vw;
  height: 22vh;
  background: #f9e5bc;
  border-radius: 0 15px 15px 0;
  top: 62%;
  right: -4vw;
  border-right:1px solid black;
  border-left:1px solid black;
  border-bottom:1px solid black;
}
#tab3 {
  width: 500px;
  height:940px;
  background: #f9e5bc;
  transform: rotate(-90deg);
}
#tab3::after {
  content: "";
  position: absolute;
  width: 5vw;
  height: 22vh;
  background: #f9e5bc;
  border-radius: 0 15px 15px 0;
  top: 48%;
  right: -4vw;
  border-right:1px solid black;
  border-left:1px solid black;
  border-bottom:1px solid black;
}

#tab4 {
  width: 500px;
  height:940px;
  background: #f9e5bc;
  transform: rotate(-90deg);
}
#tab4::after {
  content: "";
  position: absolute;
  width: 5vw;
  height: 22vh;
  background: #f9e5bc;
  border-radius: 0 15px 15px 0;
  top: 33%;
  right: -4vw;
  border-right:1px solid black;
  border-left:1px solid black;
  border-bottom:1px solid black;
}
#tab5 {
  width: 500px;
  height:940px;
  background: #f9e5bc;
  transform: rotate(-90deg);
}
#tab5::after {
  content: "";
  position: absolute;
  width: 5vw;
  height: 22vh;
  background: #f9e5bc;
  border-radius: 0 15px 15px 0;
  top: 17%;
  right: -4vw;
  border-right:1px solid black;
  border-left:1px solid black;
  border-bottom:1px solid black;
}
#tab6 {
  width: 500px;
  height:940px;
  background: #f9e5bc;
  transform: rotate(-90deg);
  border-radius: 0 0 10% 0;
}
#tab6::after {
  content: "";
  position: absolute;
  width: 5.1vw;
  height: 22vh;
  background: #f9e5bc;
  border-radius: 0 15px 15px 0;
  top: 0;
  right: -4vw;
  border-right:1px solid black;
  border-top:1px solid black;
  border-bottom:1px solid black;
}
.folders{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


/* NUMBER 6!!!!!! Css for the info in the first folder tab 6 */
#tab6 h2{
  border:black 4px solid;
  font-size: 67px;
  margin-top: -140px;
  transform: rotate(55deg); 
}
#tab6 h1{
  border:black 4px solid;
  font-size: 65px;
  margin-top: -100px;
  transform: rotate(80deg);
  margin-top:310px;
  font-size: 75px;
  color:red;
  border:red 4px solid;
  border-radius: 2%;
  padding:30px;
  font-family: 'Encode Sans SC', sans-serif;
  letter-spacing: 5px;
  font-weight:bolder ;
}
#tab6 h3{
font-family: 'Encode Sans SC', sans-serif;
color:rgb(80, 80, 80);
transform: translate(30%,20%);
font-size: 40px;
}
#tab6 p{
  font-family: 'Encode Sans SC', sans-serif;
  color:rgb(80, 80, 80);
  transform: translate(40%,20%);
  font-size: 20px;
}
#tab6 .paper-clip{
  transform: translate(400%,-731%);
}
span.paper-clip:after {
  width: 11px;
  height: 20px;
  content: " ";
  background: #f9e5bc;
  display: block;
  position: absolute;
  right: 2px;
  top: 5px;
  border-radius: 10px;
  border: 2px solid black;
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
span.paper-clip {
  background: #f9e5bc;
  height: 90px;
  width: 15px;
  border-radius: 10px;
  border: 2px solid black;
  display: inline-block;
  position: absolute;
}
#tab6 .frontAbout{
  color:#222222;
  font-size: 15px;
  transform: translate(54%, -1010%) rotate(90deg) ;
}
#tab6 .frontLanguages{
  color:#222222;
  font-size: 15px;
  transform: translate(54%, -300%) rotate(90deg) ;
}
#tab6 .frontApps{
  color:#222222;
  font-size: 15px;
  transform: translate(54%, 430%) rotate(90deg) ;
}
#tab6 .frontTools{
  color:#222222;
  font-size: 15px;
  transform: translate(54%, 1300%) rotate(90deg) ;
}
#tab6 .frontHobs{
  color:#222222;
  font-size: 12px;
  transform: translate(54%, 2200%) rotate(90deg) ;
}

/* NUMBER 5!!!!!! css for tab 5 of the about me page */
.blogContainer {
  display: flex;
  flex-direction: row;
  margin-left: -195px;
  margin-top: 190px;
  width:670px;
  height:645px;
  transform: rotate(90deg);
}
#col-1 {
  background-image: url(https://images.pexels.com/photos/1755680/pexels-photo-1755680.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  flex: .6;
  color:white;
  padding-top:60px;
  padding-left: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  height:360px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#col-1 h2{
  margin-top: -30px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
#col-1 p{
  display: flex;
  justify-content: center;
  font-size: 12px;
}
#col-1 a{
  text-decoration: none;
  display: flex;
  justify-content: center;
}
#col-1 h2{
  text-decoration: overline;
}
#col-2 {
  color:#222222;
  background-color: rgb(206, 206, 206);
  flex: 1;
  font-size: 13px;
  height:360px;
  padding:30px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.img-tape1:after {
  background: rgba(255, 255, 235, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  margin-top:180px;
  margin-left: -77px;
  width: 150px;
 transform: translate(110%,10%);
 transform: rotate(90deg);
 }
 .img-tape1:before {
  background: rgba(255, 255, 235, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  margin-top:180px;
  margin-left: 595px;
  width: 150px;
 transform: rotate(90deg);
 }


/* NUMBER 4!!!!!!  css for languages on  tab 4 of the about me page */
.languages{
  display: flex;
  justify-content: center;
  transform: rotate(90deg);
}
.myLanguageSection{
  margin-right: -550px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.languagestypeOne{
  background: #feff9c;
  border-radius: 0 0 25% 0;
  width:240px;
  height:180px;
 padding:10px;
 transform: rotate(-10deg);
 border: 2px black solid;
 box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.languagestypeTwo{
background: #feff9c;
width:240px;
  height:180px;
 padding:10px;
 transform: translate(101%,10%) rotate(-10deg);
 border: 2px black solid;
}
.languagestypeOne h3{
  color:#9b870c;
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-family: Mulish, sans-serif; 
}
.languagesType{
  background-color:#feff9c;
  width:300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:40px;
    border: 2px black solid;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
.langPartOne{
  display: flex;
  flex-direction: column;
}
.skillOne {
  background-color:#9b870c;
  color: rgb(255, 255, 255);
  padding: 1%;
  text-align: right;
  font-size: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.html {
  width: 90%;
}
.css {
  width: 83%;
}
.javascript{
  width: 60%;
}
.nosql{
  width: 35%;
}
.spanish{
  width:100%
}
.img2-tape:after {
  background: rgba(255, 255, 235, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  margin-top:-170px;
  margin-left: 47px;
  width: 150px;
 transform: rotate(0deg);
 }
 .img3-tape:after {
  background: rgba(255, 255, 235, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  margin-top:-57px;
  margin-left: 50px;
  width: 190px;
 transform: rotate(0deg);
 }
 .img7-tape:after {
  background: rgba(255, 255, 235, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  margin-top:-57px;
  margin-left: 50px;
  width: 190px;
 transform: translate(150%,1180%) rotate(10deg);
 }

/* NUMBER 3!!!!!! css for applications on tab 3 of the about me page */
.applications{
  display: flex;
  justify-content: center;
  transform: rotate(90deg);
  margin-top: 150px;
}
.myApplicationSection{
  margin-right: -550px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.applicationstypeOne h3{
  color:#00316e;
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-family: Mulish, sans-serif; 
}
.applicationstypeOne{
  background: #7afcff;
  width:240px;
  height:180px;
 padding:10px;
 transform: translate(-60%, 0%) rotate(-10deg);
 border: 2px black solid;
 box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.applicationsType{
  background-color:#7afcff;
  width:300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0 0 0 20%;
    padding:40px;
    border: 2px black solid;
    transform: translate(-40%,-10%);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.applicationsTypeTwo{
  background-color:#7afcff;
  width:300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:40px;
  transform: translate(60%,0%);
  border: 2px black solid;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.skillTwo {
  background-color:#00316e;
  color: rgb(255, 255, 255);
  padding: 1%;
  text-align: right;
  font-size: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.github{
  width: 95%;
}
.mongodb{
  width: 51%;
}
.mysql{
  width: 55%;
}
.vscode{
  width: 99%;
}
.robo3t{
  width: 33%;
}
.insomnia{
  width: 75%;
}
.img4-tape:after {
  background: rgba(255, 255, 235, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  margin-top:-57px;
  margin-left: 50px;
  width: 190px;
 transform: rotate(0deg);
 }
 .img5-tape:after {
  background: rgba(255, 255, 235, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  margin-top:-155px;
  margin-left: 33px;
  width: 190px;
 transform: rotate(0deg);
 }



/* NUMBER 2!!!!!! css for tab 2 of the about me page */

.tools{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  transform: rotate(90deg);
}
.myToolSection{
  margin-right: -550px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.toolstypeOne h3{
  color:#0d5b28;
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-family: Mulish, sans-serif; 
}
.toolstypeOne{
  background: 	rgb(175, 252, 175);
  width:250px;
  height:180px;
 padding:10px;
 transform: translate(30%,0%) rotate(30deg);
 border: 2px black solid;
 box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.toolstypeTwo{
  background: 	rgb(175, 252, 175);
  width:250px;
  height:180px;
 padding:10px;
 transform: translate(-30%,70%) rotate(0deg);
 border: 2px black solid;
 box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.toolstypeTwo p{
  font-size: 20px;
  font-weight: bolder;
  
}

.toolsType{
  background: 	rgb(175, 252, 175);
  width:300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:40px;
    border: 2px black solid;
    transform: translate(-10%, -10%);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.skillThree {
  background-color:#0d5b28;
  color: rgb(255, 255, 255);
  padding: 1%;
  text-align: right;
  font-size: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.express{
  width: 51%;
}
.react{
  width: 68%;
}
.node{
  width: 58%;
}
.handlebars{
  width: 65%;
}
.jquery{
  width: 50%;
}
.bootstrap{
  width: 90%;
}
.api{
  width: 60%;
}
.img8-tape:after {
  background: rgba(255, 255, 235, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  width: 190px;
 transform:translate(10%,-740%) rotate(0deg);
 }

/* NUMBER 1!!!!!! css for the hobbies and interests section on the tab 1 of the folder */
.hobbiesInterestOne{
  transform: rotate(90deg);
  margin-top: 300px;
}
.hobbiesInterest{
  color:#222222;
  width:450px;
      }
.hobbiesInterest h3{
  display: flex;
  justify-content: center;
  background-color: #dddddd;
  margin-bottom: 20px;
  padding:50px;
  height: 10px;
  font-size: 30px;
  border: 6px solid white;
  transform:  rotate(-10deg);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
      } 
.hobbiesInterest p{
  border: 6px solid white;
 font-size: 14px;
 font-family: Mulish, sans-serif;
 background-color: #dddddd;
 padding:40px;
 box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}      
.hobbiesInterestOne{
  display: flex;
  justify-content: center;
}

.img-tape {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 20px auto 10px; 
}
.img-tape:before{
  background: rgba(255, 255, 235, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  margin-top:180px;
  margin-left: 330px;
  width: 150px;
 transform: rotate(60deg);
 }
.img-tape:after {
  background: rgba(255, 255, 235, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  margin-top:-40px;
  margin-left: -30px;
  width: 150px;
 transform: translate(110%,10%);
 transform: rotate(60deg);
 }

.img-tape p {
  background: #dddddd;
  border: 6px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  display: inline-block;
  height: auto;
  margin: 0 20px;
  max-width: 100%;
  padding: 8px;
  text-align: center;
  vertical-align: top;
  
}
