
 
    .myFooter{
      margin-top: 70px;
  
  }
  .footerInfo{
      display: flex;
      flex-direction: row; 
  }
  
  .footerContactUs a:hover{
      background-color:red;
  }
  .opener h3{
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
}

.opener h2{
    font-size: 70px;
    color:white;
    font-family: 'Libre Baskerville', serif;
}
  