.myFooter{
      margin-top: 10px;
      margin-bottom: 140px;
      background-color: #ececec;
      bottom: 0; 
      }
.footerInfo{
      display: flex;
      flex-direction: row; 
      justify-content: center;
      background-color: #ececec;;
      height: 800px;
     
  } 
.footerInfo a{
  text-decoration: none;
}
.footerInfo :hover{
  cursor: pointer;  
} 

.questionAsk{
    background-color: #ececec;
    color:#222222;
    display: flex;
    justify-content: space-around;
    font-family: 'Encode Sans SC', sans-serif; 
    padding-top: 50px;
}
.questionAsk a:hover{
  background-color:#bcd2e8;
  border-radius: 100%;
  
}
.contactList{
  display: flex;
  justify-content: center;
  background-color: #ececec;
}
.contactList a:hover{
  background-color:#bcd2e8;
  border-radius: 100%;
  
}
