.myFooter{
      margin-top: 10px;
      margin-bottom: 90px;
      background-color: #f5f5f4;

  
  }
  .footerInfo{
      display: flex;
      flex-direction: row; 
      justify-content: center;
      background-color: #f5f5f4;
      height: 400px
  }
  
.questionAsk{
    background-color: #f5f5f4;
    display: flex;
    justify-content: space-around;
   
}
