body {
    background-image: url(https://wallpapercave.com/wp/wp6350571.jpg);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    overflow: scroll;
  }
