.About{
    background-color: red;
   background-size: cover;
   min-width: 100%;
   min-height: 100%;
}
.Opening{
    background-color: green;
    background-size: cover;
   min-width: 100%;
   min-height: 100%;
}