
.openerBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.opener h3{
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
}

.opener h2{
    font-size: 70px;
    color:white;
    font-family: 'Libre Baskerville', serif;
}
