/* this is the css for the main part of the homepage */

.openerBody{
 transform: translate(80%,200%);
position:fixed;
z-index: -1;

}


.opener h3{
    color: white;
    font-family: 'Encode Sans SC', sans-serif; 
    font-size: 15px;
}

.opener h2{
    font-size: 55px;
    color:white;
    font-family: 'Libre Baskerville', serif;
}
.midBorder{
    width: 100%;
    height:230px;
    background-color: white;
    margin-top: -64px;

}

/*this is the css for the work section */
.projSec{
    width: 100%;
    height: 814px;
    background-image: url(https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGRlc2t8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80); 
    background-repeat: no-repeat;
    background-size:1220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  .projSec h1{
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 55px;
    color:#4a5f70;
    margin-top:-250px;
  }
  .projSec p{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 21px;
    color:#4a5f70;
    margin-top:-30px;
    margin-bottom: 20px;
    width:710px;
    height:100px;
  }
.underscore{
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* this is the css for the project boxes of the homepage */
.pStyler{
  display: flex;
  justify-content: center;
}
.pStylerTwo{
 width:800px;
}

.projectSetOne{
display: flex;
border-radius: 2%;
overflow: scroll;
width:730px;
transform: translate(33%, 10%);
}

.setOne{
  width: 210px;
  height:280px;
  margin:10px;
  border-radius: 2%;
  background-color:#4a5f70;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.setOne img:hover{
  background-color: #4a5f70;
  object-fit: cover;
   opacity: 0.6;
   cursor:pointer;
}
.projectImg{
   object-fit: cover;
   opacity: 0.2;
}

.projectTitle{
  font-size:35px ;
  color:white;
  font-family: 'Yellowtail', cursive;
 transform: translate(30%,-300%);
 font-weight: bolder;
 
}
.projectTitle2{
  font-size:30px ;
  color:white;
  font-family: 'Poppins', sans-serif;
  transform: translate(30%,-450%);
  font-weight: bolder;
}
.projectTitle3{
  font-size:20px ;
  color:white;
  font-family: 'IBM Plex Mono', monospace;
  transform: translate(20%,-650%);
}
.projectTitle4{
  font-size:25px;
  color:white;
  font-family: 'Encode Sans SC', sans-serif; 
  transform: translate(16%,-480%);
}
.projectTitle5{
  font-size:27px;
  color:white;
  font-family: 'Teko', sans-serif;
  transform: translate(5%,-480%);
  font-weight: bolder;
}
.projectTitle6{
  font-size:25px;
  color:white;
  font-family: 'Shadows Into Light', cursive;
  transform: translate(20%,-400%);
}



/* css for the modals when clicked on the projects on the page */
body.active-modal {
  overflow-y: hidden;
}
.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 90px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px; 
  font-family: 'Encode Sans SC', sans-serif;
}
.modal-content2 {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 24px 28px;
  border-radius: 3px;
  height:700px;
  width:1000px;
  font-family: 'Encode Sans SC', sans-serif;
}

.close-modal {
  position: absolute;
  top: 30px;
  right: 10px;
  padding: 5px 7px;
}



/* css for the image scroll section of the modals */
.carousel {
  margin-top: 100px;
  width: 52%;
  height: 260px;
  background-color: white;
}
.carouselInner {
  height: 340px;
  width: 520px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; 
}
.carouselInnerShelfi {
  height: 260px;
  width: 520px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; 
}
.carouselInner .left {
  flex: 5%;
  height: 100%; 
  place-items: center;
  color: #629ac9;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  margin-top: 85px;
  margin-left:0px;
}
.carouselInnerShelfi .left {
  flex: 5%;
  height: 100%; 
  place-items: center;
  color: #629ac9;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  margin-top: 85px;
  margin-left:0px;
}
.carouselInner .right {
  flex: 5%;
  height: 100%;
  place-items: center;
  color: #629ac9;
  cursor: pointer;
  display: flex;
  align-items:flex-end;
  margin-top: 85px;
  margin-left:440px;
}
.carouselInnerShelfi .right {
  flex: 5%;
  height: 100%;
  place-items: center;
  color: #629ac9;
  cursor: pointer;
  display: flex;
  align-items:flex-end;
  margin-top: 85px;
  margin-left:440px;
}




/* this is the css for the salud project descriptionm on the side */
.aboutProject2{
  display: flex;
  flex-direction: row;
}
.aboutSalud{
  margin-top: 70px;
  margin-left: 90px;
}
.aboutSalud h1{
  font-size: 55px;
  color:white;
  font-family: 'Yellowtail', cursive;
}
.aboutSalud p{
  font-size: 17px;
  color:#fffaf1;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 25px;
}
.aboutSalud a{
  text-decoration: none;
  background-color: #4a5f70;
  color:white;
  font-family: 'Noto Sans JP', sans-serif;
  border-radius: 7px 7px 7px 7px;
  margin:50px;
  margin-top: 20px;
  font-size: 13px;
  padding:7px;
}
.aboutSalud a:hover{
  background-color: #629ac9;
  cursor:pointer;
}




/* this is the css for the shelfi project descriptionm on the side */
.aboutShelfi{
  margin-top: 70px;
  margin-left: 90px;
}
.aboutShelfi h1{
  font-size: 55px;
  color:white;
  font-family: 'Noto Sans JP', sans-serif;
}
.aboutShelfi p{
  font-size: 17px;
  color:#fffaf1;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 25px;
}
.aboutShelfi a{
  background-color: #4a5f70;
  color:white;
  font-family: 'Noto Sans JP', sans-serif;
  border-radius: 7px 7px 7px 7px;
  margin:50px;
  margin-top: 20px;
  font-size: 13px;
  padding:7px;
  text-decoration: none;
}
.aboutShelfi a:hover{
  background-color: #629ac9;
  cursor:pointer;
}