
.openerBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.opener h3{
    color: white;
    font-family: 'Encode Sans SC', sans-serif; 
    font-size: 15px;
}

.opener h2{
    font-size: 55px;
    color:white;
    font-family: 'Libre Baskerville', serif;
}
.midBorder{
    width: 100%;
    height:230px;
    background-color: white;
    margin-top: -64px;

}

/*this is the css for the work section */
.projSec{
    width: 710px;
    height: 1040px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(35%,-3%);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  .projSec h1{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .firstSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:20px;
  }


  .aSection{
    width: 240px;
    height: 400px;
margin:15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  .aSection img{
    opacity: 0.5;
  }
  .aSection img:hover{
    opacity: 1.0;
  }
  .descSec{
    margin:11px;
  }